/* default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* page styles*/
.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    margin: 2rem;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkorange;
    font-weight: bold;
    font-size: large;
    height: 60px;
    padding: 35px;
}

.nav-item{
   padding: 0.7rem;  
}


.nav-item.active{
    background-color: bisque;
}

.navbar-logo{
    max-height: 50px;
    width: auto;
    margin-left: 2rem;
}

.links{
    padding: 0 4rem;
    display: flex;
    row-gap: 8rem;
    column-gap: 4rem;
    margin: 0 2rem;
}

.navbar input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: large;
    background-color: darkgray;
    margin-right: 2rem;
}

.sidebar{ 
    display: flex;
    flex-direction: column;  
    background-color: #f0f0f0;
    border-radius: 30px;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-container{
    background-color: darkgray;
    padding: 5px;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    height: 8em;
    width: 100%;
}

.text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: bold;
}