

.form-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 100%;
    margin: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 2rem;
    font-size: large;
}

fieldset{
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 1.5rem;
    
}

legend{
    background-color: rgb(252, 229, 205);
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
}

fieldset > div{
    display: flex;
    flex-direction: column;
    
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 15px;
}

.checkbox-group {
  display: grid;
  grid-template-columns: 1fr 0fr 0fr;
  gap: 1rem;
  align-items: center;
}

.checkbox-header {
  display: contents;
}

.hidden-checkbox{
  display: none;
}

.custom-checkbox{
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px dashed dodgerblue;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background: rgb(238, 238, 238);
}

.hidden-checkbox:checked + .custom-checkbox::after{
  content: "";
  width: 10px;
  height: 10px;
  background: dodgerblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}


.checkbox-group {
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;
    gap: 1rem;
    align-items: center;
   
}

.checkbox-header  span{
    font-weight: bold;
    text-align: center;
     
}

.checkbox-item{
  display: contents;
}

.checkbox-item label {
    margin-right: 1rem;
}

.checkbox-item input {
    display: none;
}

.checkbox-item .custom-checkbox {
  
    justify-self: center;
    width: 25px;
    height: 25px;
    border: 2px dashed dodgerblue;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    background: rgb(238, 238, 238);
}

.checkbox-item input:checked + .custom-checkbox::after {
    content: "";
    width: 10px;
    height: 10px;
    background: dodgerblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}